.jumbotron{
    text-align: center;
}
body{
    background-image: url("images/hello-lightbulb-oXr8trnKS3I-unsplash.jpg");
    background-size: cover;
}
.p1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200px;
    font-size: x-large;
}
.name{
    font-size: x-large;
    font-style: italic;
}
form{
    text-align: center;
}
h2{
    text-align: center;
    color: cornsilk;
}
h1{
    color: cornsilk;
}
.cont{
    color: white;
    font-size: x-large;
    text-align: center;
}
.mail:hover{
    color: beige;
}
.tel:hover{
    color: beige
}

